{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}
{% set linkLegalDisclosure = services.category.get(3, lang)  %}
{% set linkGTC = services.category.get(4, lang)  %}
{% set linkCancellationRights = services.category.get(5, lang)  %}
{% set linkShippingCosts = services.category.get(8, lang)  %}
{% set linkContact = services.category.get(9, lang)  %}
{% set linkPrivacyPolicy = services.category.get(10, lang)  %}
{% set linkPaymentsMethods = services.category.get(13, lang)  %}
{% set linkBattery = services.category.get(16, lang)  %}
{% set linkAboutUs = services.category.get(17, lang)  %}
{% set linkJobs = services.category.get(139, lang)  %}
{% set linkFAQ = services.category.get(327, lang)  %}
{% set linkAwards = services.category.get(519, lang)  %}
{% set linkGuides = services.category.get(558, lang)  %}


{% set footerContainer = LayoutContainer.show("Ceres::Footer") | trim %}
{% if footerContainer is empty %}

<div class="footer">

  <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
    <i class="fa fa-chevron-up"></i>
  </div>

  <div class="to-top d-md-none" v-scroll-to-top>
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </div>

  <div class="back-blue margin-top-1">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="h4 margin-top-05 center">{{ trans("DenqbarTemplate::Template.denqbarFooterGoodReasonsHeader") }}</p>
        <hr class="margin-top-1 margin-bottom-1" />
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div><span class="fa fa-check-square">&nbsp;</span>{{ trans("DenqbarTemplate::Template.denqbarFooterGoodReasons01") }}</div>
          <div><span class="fa fa-check-square">&nbsp;</span>{{ trans("DenqbarTemplate::Template.denqbarFooterGoodReasons02") }}</div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div><span class="fa fa-check-square">&nbsp;</span>{{ trans("DenqbarTemplate::Template.denqbarFooterGoodReasons03") }}</div>
          <div><span class="fa fa-check-square">&nbsp;</span>{{ trans("DenqbarTemplate::Template.denqbarFooterGoodReasons04") }}</div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div><span class="fa fa-check-square">&nbsp;</span>{{ trans("DenqbarTemplate::Template.denqbarFooterGoodReasons05") }}</div>
          <div><span class="fa fa-check-square">&nbsp;</span>{{ trans("DenqbarTemplate::Template.denqbarFooterGoodReasons06") }}</div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div><span class="fa fa-check-square">&nbsp;</span>{{ trans("DenqbarTemplate::Template.denqbarFooterGoodReasons07") }}</div>
          <div><span class="fa fa-check-square">&nbsp;</span>{{ trans("DenqbarTemplate::Template.denqbarFooterGoodReasons08") }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="back-grey">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <p class="h4 margin-top-05 center">{{ trans("DenqbarTemplate::Template.denqbarFooterFirstColHeader") }}</p>
          <hr class="margin-top-1 margin-bottom-1 back-darkgrey" />
          <div><a href="{{ services.category.getURL( linkAboutUs ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFirstCol01') }}">{{ trans("DenqbarTemplate::Template.denqbarFooterFirstCol01") }}</a></div>
          <div><a href="{{ services.category.getURL( linkGTC ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFirstCol02') }}">{{ trans("DenqbarTemplate::Template.denqbarFooterFirstCol02") }}</a></div>
          <div><a href="{{ services.category.getURL( linkContact ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFirstCol03') }}">{{ trans("DenqbarTemplate::Template.denqbarFooterFirstCol03") }}</a></div>
          <div><a href="{{ services.category.getURL( linkLegalDisclosure ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFirstCol04') }}">{{ trans("DenqbarTemplate::Template.denqbarFooterFirstCol04") }}</a></div>
          <div><a href="{{ services.category.getURL( linkJobs ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFirstCol05') }}">{{ trans("DenqbarTemplate::Template.denqbarFooterFirstCol05") }}</a></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <p class="h4 margin-top-05 center">{{ trans("DenqbarTemplate::Template.denqbarFooterSecondColHeader") }}</p>
          <hr class="margin-top-1 margin-bottom-1 back-darkgrey" />
          <div><a href="{{ services.category.getURL( linkPaymentsMethods ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterSecondCol01') }}">{{ trans("DenqbarTemplate::Template.denqbarFooterSecondCol01") }}</a></div>
          <div><a href="{{ services.category.getURL( linkShippingCosts ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterSecondCol02') }}">{{ trans("DenqbarTemplate::Template.denqbarFooterSecondCol02") }}</a></div>
          <div><a href="{{ services.category.getURL( linkCancellationRights ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterSecondCol03') }}">{{ trans("DenqbarTemplate::Template.denqbarFooterSecondCol03") }}</a></div>
          <div><a href="{{ services.category.getURL( linkBattery ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterSecondCol04') }}">{{ trans("DenqbarTemplate::Template.denqbarFooterSecondCol04") }}</a></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <p class="h4 margin-top-05 center">{{ trans("DenqbarTemplate::Template.denqbarFooterThirdColHeader") }}</p>
          <hr class="margin-top-1 margin-bottom-1 back-darkgrey" />
          <div><a href="{{ services.category.getURL( linkAwards ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterThirdCol03') }}">{{ trans('DenqbarTemplate::Template.denqbarFooterThirdCol03') }}</a></div>
          <div><a target="_blank" href="https://www.trustedshops.de/bewertung/info_X359FE6555DFBB5649D538D5569CC77EF.html" title="{{ trans('DenqbarTemplate::Template.denqbarFooterThirdCol03') }}">{{ trans("DenqbarTemplate::Template.denqbarFooterThirdCol01") }}</a></div>
          <div><a href="{{ services.category.getURL( linkFAQ ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterThirdCol02') }}">{{ trans('DenqbarTemplate::Template.denqbarFooterThirdCol02') }}</a></div>
          <div><a href="{{ services.category.getURL( linkGuides ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterThirdCol04') }}">{{ trans('DenqbarTemplate::Template.denqbarFooterThirdCol04') }}</a></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <p class="h4 margin-top-05 center">{{ trans("DenqbarTemplate::Template.denqbarFooterFourthColHeader") }}</p>
          <hr class="margin-top-1 margin-bottom-1 back-darkgrey" />
          <div><a href="{{ services.category.getURL( linkPrivacyPolicy ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFourthCol01') }}">{{ trans("DenqbarTemplate::Template.denqbarFooterFourthCol01") }}</a></div>
          <div><a href="{{ services.category.getURL( linkPrivacyPolicy ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFourthCol02') }}">{{ trans("DenqbarTemplate::Template.denqbarFooterFourthCol02") }}</a></div>
          <div><a href="https://www.trustedshops.com/shop/certificate.php?shop_id=X359FE6555DFBB5649D538D5569CC77EF" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFourthCol03') }}">{{ trans("DenqbarTemplate::Template.denqbarFooterFourthCol03") }}</a></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 center">
          <p class="h4 margin-top-05 center">{{ trans("DenqbarTemplate::Template.denqbarFooterFifthColHeader") }}</p>
          <hr class="margin-top-1 margin-bottom-1 back-darkgrey" />
          <div><a class="btn btn-social btn-blog" href="/blog/" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFifthColBlogTitle') }}" target="_blank"><span class=""></span>{{ trans('DenqbarTemplate::Template.denqbarFooterFifthColBlog') }}</a></div>
          <div><a class="btn btn-social btn-facebook" href="http://www.facebook.com/pages/Denqbar/355133387101" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFifthColFacebookTitle') }}" target="_blank"><span class="fa fa-facebook fa-3x"></span></a></div>
          <div><a class="btn btn-social btn-twitter" href="http://www.twitter.com/denqbar/" target="_blank" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFifthColTwitterTitle') }}"><span class="fa fa-twitter fa-3x"></span></a></div>
          <div><a class="btn btn-social btn-pinterest" href="http://pinterest.com/denqbar/" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFifthColPinterestTitle') }}" target="_blank"><span class="fa fa-pinterest fa-3x"></span></a></div>
          <div><a class="btn btn-social btn-youtube" href="http://www.youtube.com/user/denqbar/videos" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFifthColYoutubeTitle') }}" target="_blank"><span class="fa fa-youtube fa-3x"></span></a></div>
          <div><a class="btn btn-social btn-instagram" href="https://www.instagram.com/denqbar/" title="{{ trans('DenqbarTemplate::Template.denqbarFooterFifthColInstagramTitle') }}" target="_blank"><span class="fa fa-instagram fa-3x"></span></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="back-grey">
    <div class="container">
      <div class="col-lg-12 col-md-10 col-sm-12 col-xs-12">
        <p class="h4 margin-top-05 center">{{ trans('DenqbarTemplate::Template.denqbarFooterPaymentH01') }}</p>
        <hr class="margin-top-1 margin-bottom-1 back-darkgrey" />
        <ul class="image-list">
          <li>
  					<a class="payment_paypal payment_img img-responsive" href="{{ services.category.getURL( linkPaymentsMethods ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterPaymentPayPal') }}" data-toggle="tooltip" data-placement="top"></a>
  				</li>
          {% if lang == "de" %}
  				<li>
  					<a class="payment_sofort payment_img img-responsive" href="{{ services.category.getURL( linkPaymentsMethods ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterPaymentSofort') }}" data-toggle="tooltip" data-placement="top"></a>
  				</li>
          <li>
  					<a class="payment_purchase payment_img img-responsive" href="{{ services.category.getURL( linkPaymentsMethods ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterPaymentPurchase') }}" data-toggle="tooltip" data-placement="top"></a>
  				</li>
          {% endif %}
  				<li>
  					<a class="payment_credit payment_img img-responsive" href="{{ services.category.getURL( linkPaymentsMethods ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterPaymentCredit') }}" data-toggle="tooltip" data-placement="top"></a>
  				</li>
  				<li>
  					<a class="payment_amazon payment_img img-responsive" href="{{ services.category.getURL( linkPaymentsMethods ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterPaymentAmazonPay') }}" data-toggle="tooltip" data-placement="top"></a>
  				</li>
  				<li>
  					<a class="{{ trans('DenqbarTemplate::Template.denqbarFooterPaymentLang') }} payment_img img-responsive" href="{{ services.category.getURL( linkPaymentsMethods ) }}" title="{{ trans('DenqbarTemplate::Template.denqbarFooterPaymentBankTransfer') }}" data-toggle="tooltip" data-placement="top"></a>
  				</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="back-grey">
    <div class="container">
      <div class="center">
        {{ trans("DenqbarTemplate::Template.denqbarFooterAllPriceIncludeVAT") }}
      </div>
    </div>
  </div>
  <div class="back-blue">
    <div class="container">
      <div class="center">
        Copyright &copy; 2004-{{ "now" | date("Y") }} DENQBAR GmbH | {{ trans("DenqbarTemplate::Template.denqbarFooterAllRightsReserved") }}
      </div>
    </div>
  </div>
</div>
{% else %}
    <div class="footer container-max">
        <div class="row">
            <div class="col clearfix">
                {{ footerContainer | raw }}
            </div>
        </div>
        <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
            <i class="fa fa-chevron-up"></i>
        </div>

        <div class="row">
            <div class="to-top hidden-md-up" v-scroll-to-top>
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </div>
        </div>
    </div>
{% endif %}
